<div class="container-fluid background-image full-size va-m">
	<div class = "w-300 d-ib">
		<h1 class = "d-b c-w fs-40px fw-bld">tumblr. Clone</h1>
		<div class="b-r-5px">
			<p class = "flash bc-wht"><%= flash.notice %>
			<%= form_tag sessions_path do %>
			<%= text_field_tag :email, nil, placeholder: " Email", class: "w-300px h-45px"%><br>
			<%= password_field_tag :password_hash, nil, placeholder: " Password" ,class: "w-300px h-45px"%><br>
			<%= submit_tag "Submit", value: "Log in" , class: "fs-16px fw-bld btn btn-info w-100pc m-tb-1em h-45px"%>
			<% end %>
		</div>
	</div>
</div>

<script type="text/javascript">

getBackground('.background-image')

</script>