<!DOCTYPE html>
<html class="full-size">
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class ="full-size">
<nav class = "navbar navbar-default navbar-fixed-top b-c">
	<div class = "btn d-ib fl-r navbar-btn srch-bar m-1em">
		<span class="glyphicon glyphicon-search d-ib" aria-hidden="true"></span>
		<input class = "d-ib b-n" placeholder = "explore">
	</div>
<!-- 	<% if current_user %>
		<%= link_to "Log Out", session_path(current_user), :confirm => "Are you sure?", :method =>:delete, class: "btn btn-default navbar-btn fl-r d-ib m-1em"%>
	<% else %>
		<%= link_to "Sign Up", new_user_path, class: "btn btn-default navbar-btn fl-r d-ib m-1em" %>
		<%= link_to "Log In", new_session_path, class: "btn btn-default navbar-btn fl-r d-ib m-1em" %>
	<% end %> -->
</nav>
<!-- <nav class = "navbar bg-info">
	<div class = "container-fluid">
		<ul class = "nav navbar-nav">
			<li><%= link_to "HOME", articles_path %></li>
			<li><%= link_to "SIGN UP", new_user_path %></li>
			<li><%= link_to "LOGIN", new_session_path %></li>

		</ul>
	</div>
</nav> -->
<div class = "text-center full-size">
		<!-- <p class = "flash"><%= flash.notice %></p> -->
		<%= yield %>
</div>
</body>
</html>


